.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.row {
  font-size: 0; /* remove whitespace between inline-block elements */
}

.col-md-4 {
  display: inline-block;
  width: calc(33.33% - 1rem);
  margin: 0 0.5rem;
  vertical-align: top; /* align elements to top */
  font-size: 1rem; /* restore font size */
}

#loader {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.progress {
  display: none;
}
.errorMsg {
  font-size: 34px;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
p {
  text-decoration: none;
}